<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>html title</title>
    <style type="text/css" media="screen">
        .box_grey {
            float: left;
            margin: 15px;
            padding: 25px;
            border-color: #aaaaaa;
            border-radius: 5px;
            border-style: dotted;
            border-width: 3px;
            background: #cccccc;
        }
    </style>
</head>
<body>
<div class="box_grey">
    <details>
        <summary>
            5 years rate graph based on BOI.
            Current value: {{'%0.2f'|format(curr_val)}}%
        </summary>
        <img src="cid:0"/>
    </details>
</div>
</body>
