<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>html title</title>
    <style type="text/css" media="screen">
        .box_grey {
            float: left;
            margin: 15px;
            padding: 25px;
            border-color: #aaaaaa;
            border-radius: 5px;
            border-style: dotted;
            border-width: 3px;
            background: #cccccc;
        }
    </style>
</head>
<body>
<div class="box_grey">
    <details>
        <summary>
            This is a graph of your weight in the last {{months}} months based on the entries in your google spreadsheets
        </summary>
        {% if difference < 0 %}
        <p>You have lost {{'%0.1f'|format(-difference)}}kg</p>
        {% else %}
        <p>You have gained {{'%0.1f'|format(difference)}}kg</p>
        {% endif %}
        <img src="cid:0"/>
    </details>
</div>
</body>
